{% extends "layout.njk" %}

{% block head %}
  <title>Sobre - Uanderson Leonel</title>
{% endblock %}

{% block content %}
<main>
  <div id="wrapper">
    <img src="{{about.avatar_url}}" alt="Imagem de {{about.name}}">
    <h1>{{about.name}}</h1>
    <h2>{{about.title}}</h2>
    <p>{{about.description}}</p>
  </div>
</main>

<script src="./scripts.js"></script>
{% endblock %}
